<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pageb</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <iframe src="Page2.html" frameborder="0" width="100%" height="50"></iframe>
    <!-- trae el menu principal a pagea -->
  <div class="container-fluid">
    <div class="row">
      <!-- TABLA -->
      <div class="col-md-8 d-none d-md-block">
        <div class="bg-primary">
          <h2>Conversion</h2>
        </div>
        
        <div class="table-responsive">
          <table>
            <thead>
              <!-- titulos de la tabla -->
              <tr>
                <th scope="col" class="col-1"> </th>
                <th scope="col" class="col-1">
                  <div>
                    <img src="img/us.svg" alt="USA" >
                    <span>USD</span>
                  </div>
                </th>
                <th scope="col" class="col-1">
                  <div>
                    <img src="img/eu.svg" alt="EUR">
                    <span>EUR</span>
                  </diV>
                </th>  
                <th scope="col" class="col-1">
                  <div>
                    <img src="img/gb.svg" alt="GBP">
                    <span>GBP</span>
                  </diV>
                </th>  
                <th scope="col" class="col-1">
                  <div>
                    <img src="img/jp.svg" alt="JPY">
                    <span>JPY</span>
                  </diV>
                </th>  
                <th scope="col" class="col-1">
                  <div>
                    <img src="img/cn.svg" alt="CNY">
                    <span>CNY</span>
                  </diV>
                </th>  
                <th scope="col" class="col-1">
                  <div>
                    <img src="img/au.svg" alt="AUD">
                    <span>AUD</span>
                  </diV>
                </th>  
                <th scope="col" class="col-1">
                  <div>
                    <img src="img/au.svg" alt="BTC">
                    <span>BTC</span>
                  </diV>
                </th>  
                <th scope="col" class="col-1">
                  <div>
                    <img src="img/ar.svg" alt="ARS">
                    <span>ARS</span>
                  </diV>
                </th>  
              </tr>
              <!-- imagenes -->
            </thead>

            <!-- cuerpo de la tabla -->
            <tbody>
              <tr>
                <!-- <td scope="col" class="col-1"> -->
                <td>
                  <div class="d-flex align-items-center">
                    <img src="img/us.svg" alt="USA" class="mr-2">
                  </div>
                </td>
                <td class="d-flex flex-column">
                  <label>1 USD</label>
                  <label>Inverse</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="img/eu.svg" alt="EUR" class="mr-2">
                  </div>
                </td>
                <td class="d-flex flex-column">
                  <label>1 EUR</label>
                  <label>Inverse</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="img/gb.svg" alt="GBP" class="mr-2">
                  </div>
                </td>
                <td class="d-flex flex-column">
                  <label>1 GBP</label>
                  <label>Inverse</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="img/ar.svg" alt="ARG" class="mr-2">
                  </div>
                </td>
                <td class="d-flex flex-column">
                  <label>1 RUB</label>
                  <label>Inverse</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
                <td>
                  <label>11111</label>
                  <label>11111</label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- FORMULARIO -->
      <div class="col-md-4 col-sm-12">
        <div class="card bg-primary">
          <div class="card-body">
            <h5 class="card-title">Conversor De Divisas</h5>
            <form>
              <div class="form-group">
                <label for="nombre">Cantidad:</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="nombre" placeholder="Cantidad" aria-label="Cantidad" aria-describedby="basic-addon1" required>
                </div>
              </div>     
              <div class="form-group">
                <label for="select1">De</label>
                <select class="form-control" id="select1">
                  <option>USD Dolares EEUU</option>
                  <option>Opción B</option>
                </select>
              </div>
              <div class="form-group">
                <label for="select2">A</label>
                <select class="form-control" id="select2">
                  <option>ARG Pesos Argentinos</option>
                  <option>Opción D</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="total">
              </div>

              <div class="form-group">
                <button type="submit" class="btn form-control bg-warning">Convertir</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
