<div class="container-fluid bg-warning text-white text-center p-3 first-cartel">
    <h1>Cantidad de VOCALES que tiene la palabra: {{ palabraActual }} </h1>
</div>
<!-- Contenedor para los botones -->
<div class="container">
    <div class="row mt-4">
        <div class="col-md-6">
            <!-- Primer par de botones -->
            <button class="btn btn-primary  btn-grande big-button" (click)="vocaluno()">1</button>
            <button class="btn btn-secondary btn-grande big-button">2</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-success btn-grande big-button">3</button>
            <button class="btn btn-danger btn-grande big-button">4</button>
        </div>
    </div>
</div>