.full-width {
    width: 100%;
}
.big-button {
    width: 100%;
    height: 100px; /* Ajusta la altura */
    margin-bottom: 10px; /* Espacio entre los botones */
}

.first-cartel {
    margin: 20px 0; /* Márgenes superior e inferior de 20px, sin márgenes a los lados */
    padding: 10px; /* Relleno interior de 10px */
    border-radius: 10px;
}

.btn-grande {
    font-size: 70px;
}