<div class="container-fluid">
    <!-- Boton del Carrito -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>
      </button>
      <!-- Modal -->
        <!-- Se utiliza para iterar sobre una colección (como un array) y generar elementos HTML dinámicamente según los elementos de esa colección -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">CARRITO DE COMPRAS </h1>
              </div>
              
              <div class="modal-body">ARTICULOS DE TU CARRITO:
                <!-- Clase para listado sin bordes -->
                <ul class="list-group list-group-flush">
                  <li *ngFor="let producto of productoCarrito" class="list-group-item">
                    <!-- *ngFor itera sobre el array productos, y para cada producto,
                      genera un elemento de lista (<li>) con el nombre y el precio del producto. -->
                    {{ producto.nombre }} ${{ producto.precio}}
                    <!-- {{ producto.nombre }} ({{ producto.cantidad }} unidades) - ${{ producto.precio * producto.cantidad }}</li> -->
                    <!-- <button type="button" class="btn btn-primary" (click)="duplicarCarrito(producto)">Duplicar Carrito</button> -->
                  </li>
                    
                </ul>
                <!-- fin listado -->
              </div>
              <div class="modal-footer">
                <p>Total a abonar: ${{ calcularTotal() }}</p>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Seguir Comprando</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  
    <h1>Productos</h1>
    <!-- Cards -->
    <div class="row">
      <div class="row col-xs-6 row-cols-sm-2 row-cols-md-3">
        <div *ngFor="let producto of productos">
          <!-- el vector productos ts, lo defino en la variable productos -->
          <div class="card h-100 m-1 shadow">
            <div class="card-header">
              <h1 class="card-text">{{producto.precio}}</h1>
              <img src="assets/img/{{producto.img}}" class="card-img-top" alt="...">
            </div>
            <div class="card-body"><h5>{{producto.nombre}}</h5>
              <p class="card-text">{{producto.descripcion}}</p>
            </div>
            <div class="card-footer text-center">
              <a class="btn btn-primary" (click)="agregarCarrito(producto)">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>